<!doctype html>
<head>
  <title>Flaskr</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css') }}">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <div class=page>
	<h1>Flaskr</h1>
	<div class=metanav>
	  {% if not session.logged_in %}
	  <a href="{{ url_for('login') }}"}>log in</a>
	  {% else %}
	  <a href="{{ url_for('logout') }}"}>log out</a>
	  {% endif %}
	</div>
	{% for message in get_flashed_messages() %}
	<div class =flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
  </div>
</head>
