{% extends "layout.html" %}
{% block body %}
<h2 class="text-center" style="font-size 24px;">Send e-mail</h2>
<br>
<form action="{{ url_for('worker') }}" class="form-" style="display: inline;">
  <div class="from-group">
	<label for="workerResult">Result</label>
	<input type="text" class="form-control" value="{{ result }}" name="result">
  </div>
  <div class="form-group">
	<label for="inputEmail">e-mail address</label>
	<input type="email" class="form-control" id="inputEmail" placeholder="Enter e-mail" name="mailAddress">
  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>
{% endblock %}
