{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<script type="text/javascript">
  function edit(id) {
  var password = prompt("password")
  $("#entryPassword1").val(password)
  }
  function del(id) {
  var password = prompt("password")
  $("#entryPassword2").val(password)
  }
  function cDel(id) {
  var password = prompt("password")
  $("#"+id).val(password)
  }
</script>
<ul class=entry>
  <dl><form action="{{ url_for('edit_entry',id=entry.id) }}" method=post class=edit-entry>
	  <dt>Title:</dt>
	  <dd><input type=text name=title value={{ entry["title"] }}></dd>
	  <dt>Text:</dt>
	  <dd><input type=text name=text value={{ entry["text"]|safe }}></dd>
	  <dt><input type=hidden name=entryPassword1 id=entryPassword1></dt>
	  <input type=submit value=Edit onclick='edit({{ entry.id }})' id="edit_entry">
  </form></dl>
  <form action="{{ url_for('del_entry', id=entries.id) }}" method=post class=del-entry>
	<input type=hidden name=entryPassword2 id=entryPassword2>
	<input type=submit value=Delete onclick='del({{ entries.id }})'>
  </form>
  {% for comment in comments %} <!-- 댓글 for-->
  <dl><form action="{{ url_for('del_comment', id=entry.id, id2=comment.id) }}" method=post class=del-comment>
	  <dt>Author: {{ comment.author }}</dt>
	  <dt>Comment: {{ comment.comment }}
		<input type=hidden name=delCommentPassword id={{ comment.id }}>
		<input type=submit value=Delete onclick='cDel({{ comment.id }})'></dt></dl></form>
  {% endfor %} <!-- comment for end-->
  <dl><form action="{{ url_for('add_comment', id=entries.id) }}" method=post class=add-comment>
	  <dt>Author: </dt>
	  <dd><input type=text size=10 name=author></dd>
	  <dt>Comment: </dt>
	  <dd><textarea name=comment rows=3 cols=20></textarea></dd>
	  <dt>Password: <input type=text size=5 name=addCommentPassword></dt>
	  <dd><input type=submit value=Share></dd>
  </dl> 
  </form>
</ul>
{% else %}
you must login first
{% endif %}
{% endblock %}
