{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<script type="text/javascript">
  function del(id, pw) {
  var answer = prompt("password");
  if (answer == pw)
  location.href='/del?id='+id;
  }
</script>
<ul class=entries>
  {% for entry in entries %}
  <dl><form action="{{ url_for('edit_entry',id=entry.id) }}" method=post class=eidt-entry>
	  <dt>Title:</dt>
		<dd><input type=text name=title value={{ entry.title }}></dd>
	  <dt>Text:</dt>
		<dd><input type=text name=text value={{ entry.text|safe }}></dd>
	  <dt>Password:</dt>
		<dd><input type=text name=PW size=5></dd>
		<input type=button value=Delete onclick='del({{ entry.id|tojson|safe }}, {{ entry.password|tojson|safe }})'>
		<input type=submit value=Edit></form></dl>
  {% else %}
  <li><em>Unbelievable. No entries here so far</em></li>
  {% endfor %}
</ul>
{% else %}
you must login first
{% endif %}
{% endblock %}
