{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<script type="text/javascript">
  function entryEdit(event) {
  var password = prompt("password")
  $("#entryPassword1").val(password)
  }
  function entryDelete(event) {
  var password = prompt("password")
  $("#entryPassword2").val(password)
  }
  function commentDelete(event) {
  var password = prompt("password")
  if (password != "") {
  $(this).find("[name=delCommentPassword]").val(password)
  }
  }
  function commentLength(event) {
  var i = $("[name=comment]").val().length;
  $("#comment").html(i + "/ 80")
  }
  $(document).ready(function(){
  $("#edit_entry").click(entryEdit);
  $("#del_entry").click(entryDelete);
  $(".del-comment").submit(commentDelete);
  $("[name=comment]").keyup(commentLength);
  $("[name=comment]").change(commentLength);
  })
</script>
<form action="{{ url_for('edit_entry',id=entry.id) }}" method="post" class="edit-entry" role="form">
  <div class="entry-title">
	<label>Title:</label>
	<input type="text" name="title" value="{{ entry["title"] }}">
  </div>
  <div class="entry-text">
	<label>Text:</label>
	<input type="text" name="text" value="{{ entry["text"]|safe }}">
  </div>
  <div class="entry-buttons">
	<input type="hidden" name="entryPassword1" id="entryPassword1">
	<button type="submit" id=edit_entry class="btn btn-default">Edit</button>
</form>
<form action="{{ url_for('del_entry', id=entry.id) }}" method="post" class="del-entry" style="display: inline;">
  <input type="hidden" name="entryPassword2" id="entryPassword2">
  <button type="submit" class="btn btn-primary" id="del_entry">Delete</button>
</form>
</div>
<br>
  {% for comment in comments %} <!-- 댓글 for-->
<form action="{{ url_for('del_comment', id=entry.id, id2=comment.id) }}" method="post" class="del-comment" role="form" style="border-bottom-style: solid; border-width: 1px">
  <div class="del-comment-author">
	<label>Author: {{ comment.author }}</label>
  </div>
  <div class="del-comment-comment">
	<label>Comment: {{ comment.comment }}</label>
	<input type="hidden" name="delCommentPassword" id="{{ comment.id }}">
	<button type="submit" class="btn btn-success" id="del_comment" name="button">Delete</button>
  </div>
</form>
<br>
{% endfor %} <!-- comment for end-->
<br>
<form action="{{ url_for('add_comment', id=entry.id) }}" method="post" class="add-comment" role="form">
  <div class="add-comment-author">
	<label>Author: </label>
	<input type="text" size="10" name="author">
  </div>
  <div class="add-comment-comment">
	<label>Comment: </label>
	<div>
	<textarea name="comment" rows="3" cols="20"></textarea>
	<span id="comment"> / 80</span>
	</div>
	<label>Password: 
	  <input type="text" size="5" name="addCommentPassword"></label>
	<button type="submit" class="btn btn-info">Share</button>
  </div>
</form>
{% else %}
you must login first
{% endif %}
{% endblock %}
