{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
	<dt>Title:</dt>
	<dd><input type=text size=30 name=title></dd>
	<dt>Text:</dt>
	<dd><textarea name=text rows=5 cols=40></textarea></dd>
	<dt>Password: <input type=text size=5 name=pw></dt>
	<dd><input type=submit value=Share></dd>
  </dl>
</form>
{% endif %}
<table class=List width="100%" border="1">
  <thead>
	<tr>
	  <th width="10%">ID</th>
	  <th>Title</th>
	</tr>
  </thead>
  <tbody>
	{% for lst in List %}
	<tr>
	  <td>{{ lst.id|safe }}</td>
	  <td><a href='{{ url_for('show_entries', id=lst.id) }}'>{{ lst.title }}</a></td>
	</tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
